[submodule "qmk"]
	path = qmk
	url = git@github.com:lupin-de-mid/qmk_firmware.git
[submodule "lang_shift"]
	path = layout/lang_shift
	url = git@github.com:lupin-de-mid/lang_shift.git
[submodule "combo"]
	path = layout/combo
	url = https://github.com/klavarog/combo.git
